{
  "Host": {
    "CORS": "*"
  },
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "API_URL": "http://localhost:7071",
    "FRONTEND_URL": "http://localhost:3000",
    "SECRET_KEY": "",
    "SONGKICK_API_KEY": "",
    "SPOTIFY_CLIENT_ID": "3fae4389bebd4d8fa4f30accfd79bff4",
    "SPOTIFY_CLIENT_SECRET": ""
  }
}